@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import "tailwindcss";



@theme {
    --font-barber: 'Rubik Wet Paint', cursive;
    --color-bg: #2c2c2c; /* Un gris oscuro moderno */
  }


  
body {
    background-color: var(--color-bg);

}